.video-cloud {
  height: 100%;
  width: 100%;
}
video {
  object-fit: cover;
  height: 84%;
  width: 50%;
  position: absolute;
  right: 0;
}  
@media screen and (max-width: 1455px) {
  video {
    width: 60%;
  }
}
@media screen and (max-width: 1220px) {
  video {
    width: 70%;
  }
}
@media screen and (max-width: 1080px) {
  video {
    width: 80%;
  }
}
@media screen and (max-width: 920px) {
  video {
    width: 90%;
  }
}
@media screen and (max-width: 820px) {
  video {
    width: 100%;
  }
}
