.video {
  height: 100%;
  width: 100%;
}
video {
  z-index: 2;
  object-fit: cover;
  height: 88%;
  width: 55%;
  position: absolute;
  right: 0;
  overflow: hidden;
}
@media screen and (max-width: 1455px) {
  video {
    width: 60%;
  }
}
@media screen and (max-width: 1220px) {
  video {
    width: 70%;
  }
}
@media screen and (max-width: 1080px) {
  video {
    width: 80%;
  }
}
@media screen and (max-width: 920px) {
  video {
    width: 90%;
  }
}
@media screen and (max-width: 820px) {
  video {
    width: 100%;
  }
}
