.contact-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100%;
  overflow: hidden;
}
.contact-form {
  width: 100%;
  margin-top: 20px;
  z-index: 3;

  input {
    z-index: 3;
    margin-bottom: 2px;
    transform-style: preserve-3d;
    animation: fadeIn 1s 1.4s backwards;
    &:nth-of-type(1) {
      animation-delay: 1.1s;
    }
    &:nth-of-type(2) {
      animation-delay: 1.2s;
    }
    &:nth-of-type(3) {
      animation-delay: 1.3s;
    }
  }

  input[type='text'],
  input[type='email'] {
    width: 100%;
    border: 0;
    background: #1c1c1c;
    height: 50px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
    box-sizing: border-box;
  }

  textarea {
    width: 100%;
    border: 0;
    background: #1c1c1c;
    height: 150px;
    font-size: 16px;
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    transform-style: preserve-3d;
    animation: fadeIn 1s 1.4s backwards;
    animation-delay: 1.4s;
    z-index: 3;
  }

  .flat-button {
    color: #00d131;
    font-size: 11px;
    letter-spacing: 2px;
    text-decoration: none;
    padding: 9px 21px !important;
    border: 1px solid #00d131;
    border-radius: 5px;
    background-color: black;
    text-align: center;
    margin-top: 10px;
    z-index: 3;
  }
  .flat-button:hover {
    background-color: #00d131;
    color: black; 
    cursor: crosshair;
  }
  .created-with {
    z-index: 3;
    display: flex;
    position: relative;
    animation: fadeIn 1s 1.4s backwards;
    animation-delay: 1.5s;
    .icon {
      font-size: 15px;
      margin-left: 5px;
      margin-top: 10px;
    }
    a {
      svg:hover {
        color: #00d131;
      }
    }
  }
}
@media screen and (max-width: 430px) {
  .small-h1 {
    display: block;
  }

  .large-h1 {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .contact-form {
    margin-top: 10px;
  }
  input {
    height: 35px !important; 
    margin-right: 10px;
  }
  textarea {
    height: 59px !important;
  }
  h1 {
    font-size: 30px !important;
  }
}
@media screen and (max-width: 330px) {
  .created-with {
    display: none !important;
  }
}
@media screen and (max-height: 850px) {
  h3 {
    margin-top: 0;
  }
  .created-with {
    .icon {
      margin-top: 0px !important;
    }
  }
  textarea {
    height: 59px !important;
  }
  p {
    font-size: 12px !important;
  }
}
@media screen and (max-height: 615px) {
  input, textarea {
    font-size: 13px !important;
  }
  input {
    height: 40px !important;
  }
  .text-zone {
    h1 {
      font-size: 38px !important;
    }
  }
}
