.nav-bar {
  background: rgba (0, 0, 0);
  width: 100%;
  height: 50px;
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 130px;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
    left: 100px;
    text-decoration: none;
    color: #e6e6e6;
    font-size: 11px;
    font-family: "Oleo Script Swash Caps", cursive;
    margin-top: 2px;
    text-decoration: underline;
    text-decoration-color:#a60061; 

    img {
      width: 40px;
      border-radius: 50px;
      margin-right: 5px;
    }
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    
    img {
      filter: invert(81%) sepia(0%) saturate(0%) hue-rotate(30deg) brightness(93%) contrast(96%);
      height: 28px;
      margin-top: 4px;
    }

    a {
      display: block;
      position: relative;
      text-decoration: none;
      padding: 15px;

      i {
        transition: all 0.3s ease-out;
      }

      &:hover {
        color: #00d131;

        img {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 11px;
        letter-spacing: 2px;
        line-height: 35px;
        position: absolute;
        width: 100%;
        text-align: center;
        margin-top: 1px;
        opacity: 0;
        left: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.skills-link {
      &:after {
        content: 'SKILLS'
      }
    }

    a.portfolio-link {
      &:after {
        content: 'WORKS'
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      img {
        filter: invert(55%) sepia(50%) saturate(4719%) hue-rotate(104deg) brightness(105%) contrast(109%);
      }
    }
  }

  ul {
    display: flex;
    align-items: center;
    position: relative;
    right: 100px;
    padding: 10px;
    list-style: none;

    li {
      a {
        padding: 10px 10px;
        display: block;
        font-size: 19px;
        line-height: 16px;
      }
      svg:hover {
        color: #00d131;
      }
    }
  }
}
