html {
  font-size: 62.5%;
}

body {
  margin: 0;
  width: 100%;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #000;
  overflow: hidden;
  display: block;
}
body.wpex-is-mobile-device .wpb_animate_when_almost_visible {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-animation: none;
  -moz-animation: none;
  -o-animation: none;
  animation: none;
}
